head {
    text-align: center;

}

.Meny {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
}

article {
    width: 550px;
    text-align: center;
}

footer {
    bottom: 0px;
    background-color: gray;
    width: 100%;
    left: 0px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

img {
    width: 500px;
}

.ner {
    position: absolute;
}